<div class="test" style="display:none">
<div class="center jumbotron" >
  <h1>BITMAKER BLOGS</h1>



<%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
</div>
